#modal-shortcuts.modal{ tabindex: -1 }
  .modal-dialog.modal-lg.modal-1040
    .modal-content
      .modal-header
        .js-toggle-shortcuts
        %button.close{ type: "button", "data-dismiss": "modal", "aria-label" => _('Close') }
          %span{ "aria-hidden": true } &times;
      .modal-body
        .row
          .col-lg-4
            %table.shortcut-mappings.text-2
              %tbody
                %tr
                  %th
                  %th= _('Global Shortcuts')
                %tr
                  %td.shortcut
                    %kbd ?
                  %td= _('Toggle this dialog')
                %tr
                  %td.shortcut
                    %kbd shift p
                  %td= _('Go to your projects')
                %tr
                  %td.shortcut
                    %kbd shift g
                  %td= _('Go to your groups')
                %tr
                  %td.shortcut
                    %kbd shift a
                  %td= _('Go to the activity feed')
                %tr
                  %td.shortcut
                    %kbd shift l
                  %td= _('Go to the milestone list')
                %tr
                  %td.shortcut
                    %kbd shift s
                  %td= _('Go to your snippets')
                %tr
                  %td.shortcut
                    %kbd s
                    \/
                    %kbd /
                  %td= _('Start search')
                %tr
                  %td.shortcut
                    %kbd shift i
                  %td= _('Go to your issues')
                %tr
                  %td.shortcut
                    %kbd shift m
                  %td= _('Go to your merge requests')
                %tr
                  %td.shortcut
                    %kbd shift t
                  %td= _('Go to your To-Do list')
                %tr
                  %td.shortcut
                    %kbd p
                    %kbd b
                  %td= _('Toggle the Performance Bar')
                - if Gitlab.com?
                  %tr
                    %td.shortcut
                      %kbd g
                      %kbd x
                    %td= _('Toggle GitLab Next')
              %tbody
                %tr
                  %th
                  %th= _('Editing')
                %tr
                  %td.shortcut
                    - if browser.platform.mac?
                      %kbd &#8984; shift p
                    - else
                      %kbd ctrl shift p
                  %td= _('Toggle Markdown preview')
                %tr
                  %td.shortcut
                    %kbd
                      = sprite_icon('arrow-up', size: 12)
                  %td= _('Edit your most recent comment in a thread (from an empty textarea)')
              %tbody
                %tr
                  %th
                  %th= _('Wiki')
                %tr
                  %td.shortcut
                    %kbd e
                  %td= _('Edit wiki page')
              %tbody
                %tr
                  %th
                  %th= _('Repository Graph')
                %tr
                  %td.shortcut
                    %kbd
                      = sprite_icon('arrow-left', size: 12)
                    \/
                    %kbd h
                  %td= _('Scroll left')
                %tr
                  %td.shortcut
                    %kbd
                      = sprite_icon('arrow-right', size: 12)
                    \/
                    %kbd l
                  %td= _('Scroll right')
                %tr
                  %td.shortcut
                    %kbd
                      = sprite_icon('arrow-up', size: 12)
                    \/
                    %kbd k
                  %td= _('Scroll up')
                %tr
                  %td.shortcut
                    %kbd
                      = sprite_icon('arrow-down', size: 12)
                    \/
                    %kbd j
                  %td= _('Scroll down')
                %tr
                  %td.shortcut
                    %kbd
                      shift
                      = sprite_icon('arrow-up', size: 12)
                      \/ k
                  %td= _('Scroll to top')
                %tr
                  %td.shortcut
                    %kbd
                      shift
                      = sprite_icon('arrow-down', size: 12)
                      \/ j
                  %td= _('Scroll to bottom')
          .col-lg-4
            %table.shortcut-mappings.text-2
              %tbody
                %tr
                  %th
                  %th= _('Project')
                %tr
                  %td.shortcut
                    %kbd g
                    %kbd p
                  %td= _('Go to the project\'s overview page')
                %tr
                  %td.shortcut
                    %kbd g
                    %kbd v
                  %td= _('Go to the project\'s activity feed')
                %tr
                  %td.shortcut
                    %kbd g
                    %kbd r
                  %td= _('Go to releases')
                %tr
                  %td.shortcut
                    %kbd g
                    %kbd f
                  %td= _('Go to files')
                %tr
                  %td.shortcut
                    %kbd t
                  %td= _('Go to find file')
                %tr
                  %td.shortcut
                    %kbd g
                    %kbd c
                  %td= _('Go to commits')
                %tr
                  %td.shortcut
                    %kbd g
                    %kbd n
                  %td= _('Go to repository graph')
                %tr
                  %td.shortcut
                    %kbd g
                    %kbd d
                  %td= _('Go to repository charts')
                %tr
                  %td.shortcut
                    %kbd g
                    %kbd i
                  %td= _('Go to issues')
                %tr
                  %td.shortcut
                    %kbd i
                  %td= _('New issue')
                %tr
                  %td.shortcut
                    %kbd g
                    %kbd b
                  %td= _('Go to issue boards')
                %tr
                  %td.shortcut
                    %kbd g
                    %kbd m
                  %td= _('Go to merge requests')
                %tr
                  %td.shortcut
                    %kbd g
                    %kbd j
                  %td= _('Go to jobs')
                %tr
                  %td.shortcut
                    %kbd g
                    %kbd l
                  %td= _('Go to metrics')
                %tr
                  %td.shortcut
                    %kbd g
                    %kbd e
                  %td= _('Go to environments')
                %tr
                  %td.shortcut
                    %kbd g
                    %kbd k
                  %td= _('Go to kubernetes')
                %tr
                  %td.shortcut
                    %kbd g
                    %kbd s
                  %td= _('Go to snippets')
                %tr
                  %td.shortcut
                    %kbd g
                    %kbd w
                  %td= _('Go to wiki')
              %tbody
                %tr
                  %th
                  %th= _('Project Files')
                %tr
                  %td.shortcut
                    %kbd
                      = sprite_icon('arrow-up', size: 12)
                  %td= _('Move selection up')
                %tr
                  %td.shortcut
                    %kbd
                      = sprite_icon('arrow-down', size: 12)
                  %td= _('Move selection down')
                %tr
                  %td.shortcut
                    %kbd enter
                  %td= _('Open Selection')
                %tr
                  %td.shortcut
                    %kbd esc
                  %td= _('Go back (while searching for files)')
                %tr
                  %td.shortcut
                    %kbd y
                  %td= _('Go to file permalink (while viewing a file)')
          .col-lg-4
            %table.shortcut-mappings.text-2
              %tbody
                %tr
                  %th
                  %th= _('Epics, Issues, and Merge Requests')
                %tr
                  %td.shortcut
                    %kbd r
                  %td= _('Comment/Reply (quoting selected text)')
                %tr
                  %td.shortcut
                    %kbd e
                  %td= _('Edit description')
                %tr
                  %td.shortcut
                    %kbd l
                  %td= _('Change label')
              %tbody
                %tr
                  %th
                  %th= _('Issues and Merge Requests')
                %tr
                  %td.shortcut
                    %kbd a
                  %td= _('Change assignee')
                %tr
                  %td.shortcut
                    %kbd m
                  %td= _('Change milestone')
              %tbody
                %tr
                  %th
                  %th= _('Merge Requests')
                %tr
                  %td.shortcut
                    %kbd ]
                    \/
                    %kbd j
                  %td= _('Next file in diff')
                %tr
                  %td.shortcut
                    %kbd [
                    \/
                    %kbd k
                  %td= _('Previous file in diff')
                %tr
                  %td.shortcut
                    - if browser.platform.mac?
                      %kbd &#8984; p
                    - else
                      %kbd ctrl p
                  %td= _('Go to file')
                %tr
                  %td.shortcut
                    %kbd n
                  %td= _('Next unresolved discussion')
                %tr
                  %td.shortcut
                    %kbd p
                  %td= _('Previous unresolved discussion')
                %tr
                  %td.shortcut
                    %kbd b
                  %td= _('Copy source branch name')
              %tbody
                %tr
                  %th
                  %th= _('Merge Request Commits')
                %tr
                  %td.shortcut
                    %kbd c
                  %td= _('Next commit')
                %tr
                  %td.shortcut
                    %kbd x
                  %td= _('Previous commit')
              %tbody
                %tr
                  %th
                  %th= _('Web IDE')
                %tr
                  %td.shortcut
                    - if browser.platform.mac?
                      %kbd &#8984; p
                    - else
                      %kbd ctrl p
                  %td= _('Go to file')
                %tr
                  %td.shortcut
                    - if browser.platform.mac?
                      %kbd &#8984; enter
                    - else
                      %kbd ctrl enter
                  %td= _('Commit (when editing commit message)')
